.RealEstate{
	background-color: brown;
	padding: 1px 5px 2px 5px;
	border-radius: 50px;
	color:white;
	font-size: 11px;
	
	margin:0px 0px 0px 120px !important;
	
}
.my-nk{
	margin-top: 50px;
}
.my-nk1{
	margin-top: 45px;
}

.content8999{
	background: linear-gradient(121deg,#DBE9FF 0,#FFF2CC 45%,#FFD1E9 90%);
	padding: 50px 0px 140px 0px;
}


.weare90 {
	font-size: 30px !important;
	
	margin: 40px 0px 20px 0px;
}

.weare909 {
	font-size: 25px !important;
	
	margin: 40px 0px 20px 0px;
}

.Entrepreneurs1{
	font-size: 70px;


}
.Entrepreneurs{
	color: #045697;
}
.weare900 {
	font-size: 15px !important;
	font-weight: 700;
	margin: 20px 0px 8px 0px;
}

.jup{
	font-size: 15px !important;
	
	margin: 0px 0px 8px 0px;
}

.cloning{
	width: 700px;
	object-fit:fill;
	height:560px;
}
.sticky {
    position: sticky;

    height:400px;

    top: 90px;

}

.content89999{
	background-color: #f4efe9;
	padding: 50px 0px 140px 0px;
}

/* background-color: #f4efe9; */





















